DATABASE_HOSTNAME=postgres
DATABASE_PORT=5432
DATABASE_PASSWORD=ComplexPass11*
DATABASE_NAME=jobs_db
DATABASE_USERNAME=postgres
POSTGRES_PASSWORD=ComplexPass11*
POSTGRES_DB=jobs_db
DEBUG=True
ALLOWED_HOSTS=localhost:8000
PROD_PORT=8015
PROD_URL=/api/finding-jobs
VERSION=0.2.0